<p>test works!</p>

{{ greetUser() }}
<h2 [style.color]="hasError ? 'red' : 'green'">Text</h2>
<h2 [ngClass]="messageClasses">Codevolution</h2>
<input
  #myInput
  type="text"
  class="text-success"
  value="Sterling"
  [disabled]="isDisabled"
/>
<h2 [style.color]="highlightColor">Codevolution 2</h2>
<h2 [ngStyle]="titleStyles">Codevolution 2</h2>
<button (click)="greeting = 'Welcome Message'">Greet</button>
{{ greeting }}
<button (click)="logMessage(myInput.value)">Test Print</button>
<input [(ngModel)]="name" type="text" />
{{ name }}

<h2 *ngIf="displayName; then thenBlock; else elseBlock">ngIf Block</h2>
<ng-template #thenBlock> Then block </ng-template>
<ng-template #elseBlock> -Else Blog </ng-template>

<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'">Red</h2>
  <h2 *ngSwitchCase="'blue'">Blue</h2>
  <h2 *ngSwitchCase="'green'">Green</h2>
  <h2 *ngSwitchDefault>You need to choose</h2>
</div>

<div *ngFor="let color of colors; odd as o; index as i">
  <h2>{{ i }}: {{ color }} - {{ o }}</h2>
</div>

<h2>{{ parentData }}</h2>
<button (click)="fireEvent()">Fire Event</button>
<h2>{{ name | uppercase }}</h2>
<h2>{{ name | lowercase }}</h2>
<h2>{{ name | titlecase }}</h2>
<h2>{{ name | slice: 3:5 }}</h2>
<h2>{{ person.role | json }}</h2>
<h2>{{ 0.25 | percent }}</h2>
<h2>{{ date | date: "short" }}</h2>
<h2>{{ date | date: "shortDate" }}</h2>
